 <!--Contenedor principal-->
 <div id="contentToConvert" class="container-fluid bg-primary" style="width: 458px; visibility: hidden">
  
    <div class="row border py-0">
        <!--Columna 1 general-->
        <div class="coll-12">
            <!--Contenedor Columna 1-->
            <div class="container ancho">
                
                <!--Espacio Superior Izquierda-->
                <div class="row ancho">
                    <div class="coll-12">&nbsp;</div>
                </div>
                <div class="row ancho">
                    <div class="coll-12 px-2">{{forma.value.nombreProducto}}</div>
                </div>
                <div class="row ancho">
                    <div class="coll-12">&nbsp;</div>
                </div>
                <!--Espacio inferior Izquierdo-->
                <div class="row mx-0 my-0 px-0 py-0">
                    <!--Contenedor Tabla Etiqueta-->
                    <div class="container mi_textEtiqueta mx-1 my-0 px-0 py-0">
                        <div class="row border ancho">
                            <div class="coll-12" style="text-align: center;">
                                <strong>INFORMACIÓN NUTRICIONAL TL</strong>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="coll-12">
                                <strong>Porción:</strong> 1 {{forma.value.conversionPorciones}} ({{forma.value.tamanoPorcion}})
                            </div>
                        </div>
                        <div class="row border">
                            <div class="coll-12">
                                <strong>Porciones por envase:</strong> {{forma.value.cantidadPorciones}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               &nbsp;
                            </div>
                            <div class="coll-2 border">
                                <strong>100g</strong>
                            </div>
                            <div class="coll-2 border">
                                <strong>Porción</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               <strong>Calorías(kcal)</strong>
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.calorias}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.calorias}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               <strong>Proteinas(g)</strong>
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.proteinas}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.proteinas}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               <strong>Grasa Total(g)</strong>
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.grasaTotal}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.grasaTotal}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               &nbsp;
                            </div>
                            <div class="coll-2 border">
                                &nbsp;
                             </div>
                             <div class="coll-2 border">
                                &nbsp;
                             </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               <strong>Carbohidratos disponibles(g)</strong>
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.carboDisponibles}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.carboDisponibles}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               Azúcares Totales(g)
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.azucaresTotales}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.azucaresTotales}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               Fibra(g)
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.fibraDietaTotal}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.fibraDietaTotal}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               &nbsp;
                            </div>
                            <div class="coll-2 border">
                                &nbsp;
                             </div>
                             <div class="coll-2 border">
                                &nbsp;
                             </div>
                        </div>
                        <div class="row">
                            <div class="coll-8 border">
                               <strong>Sodio(mg)</strong>
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.sodio}}
                            </div>
                            <div class="coll-2 border">
                                {{forma.value.sodio}}
                            </div>
                        </div>
                    
                    </div>

                </div>

                
            </div>
        </div>
        <!--Columna 2 general-->
        <div class="coll-14">
            <div class="container mi_textDescripcion">
               
               <div class="row">
                   <div class="coll-14">
                       Ingredientes: {{forma.value.descripcionIngredientes}}
                   </div>
               </div>
               <div class="row">
                    <div class="coll-14">
                        Elaborado y distribuido por: {{forma.value.nombreRazonSocial}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        Modo de Consumo: {{forma.value.modoUsoConsumo}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        Condiciones de almacenamiento: {{forma.value.condicionesAlmacenamiento}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        Producto: {{forma.value.nombreProducto}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        Fecha de elaboración y envasado ver impresa en el envase. Plazo de duración: {{forma.value.plazoDuracion}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        Resolución sanitaria: {{forma.value.resolucionSanitaria}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        Contenido neto: {{forma.value.contenidoNeto}}
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="coll-14">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>