<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="./app.component.css" crossorigin="anonymous">
 <div class="container">

    <h4>Aplicación <small> Etiquetas Web </small></h4>
    <div class="container">
      <div class="row">
        <div class="col">
          Nota de Advertencia o Recomendación: <pre>Nota de advertencia por algun tema que quieran agregar
          </pre>
        </div>
      </div>

      </div>
    <hr>
    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="crearImagen()">
    
      <div>
        
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 1
            </mat-panel-title>
            <mat-panel-description>
              Vamos a elegir el tipo de Etiqueta
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="form-group row">
            <label class="col-2 col-form-label" for="inputGroupSelect01">Elija Tipo</label>
  
            <div class="col-8">
            <select class="form-control" formControlName="tipoEtiqueta" [class.is-invalid]="tipoEtiquetaNoValida">
              <option value="cortaVertical">Corta Vertical</option>
              <option value="largaVertical">Larga Vertical</option>
              <option value="otra">Otra</option>
            </select>
            <small *ngIf="tipoEtiquetaNoValida" class="text-danger">
              Eliga una etiqueta válida
            </small>
            </div>
          </div>
        <mat-action-row>
          <button mat-button type="button" class="btn btn-outline-primary btn-sm" (click)="nextStep1()">Siguiente</button>
        </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 2
            </mat-panel-title>
            <mat-panel-description>
              Vamos a elegir la generación de Etiqueta
            </mat-panel-description>
          </mat-expansion-panel-header>
          <label class="col-2 col-form-label">Tipo de Etiqueta</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="genEtiqueta" id="genEtiqueta" formControlName="genEtiqueta" value="tradicional" [class.is-invalid]="genEtiquetaNoValida">
            <label class="form-check-label" for="inlineRadio1">Tradicional</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="genEtiqueta" id="genEtiqueta" formControlName="genEtiqueta" value="actualizada" [class.is-invalid]="genEtiquetaNoValida">
            <label class="form-check-label" for="inlineRadio2">Actualizada</label>
          </div>
          <small *ngIf="genEtiquetaNoValida" class="text-danger">
            Eliga una tipo de etiqueta
          </small>
          <ng-container *ngIf="forma.value.genEtiqueta == 'actualizada'">
          <div class="form-group row">
            <label class="col-2 col-form-label" for="inputGroupSelect01">Elija Tipo</label>
  
          <div class="col-8">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" formControlName="sellos" id="altoAzucares" value="altoAzucares">
              <label class="form-check-label" for="inlineCheckbox1">Alto en Azúcares</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" formControlName="sellos" id="altoCalorias" value="altoCalorias">
              <label class="form-check-label" for="inlineCheckbox2">Alto en Calorías</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" formControlName="sellos" id="altoGrasas" value="altoGrasas">
              <label class="form-check-label" for="inlineCheckbox1">Alto en Grasas Saturadas</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" formControlName="sellos" id="altoSodio" value="altoSodio">
              <label class="form-check-label" for="inlineCheckbox2">Alto en Sodio</label>
            </div>
          </div>
        </div>
        </ng-container>
          <mat-action-row>
            <button mat-button type="button" class="btn btn-outline-primary btn-sm" (click)="prevStep()">Anterior</button>
            <button mat-button type="button" class="btn btn-outline-primary btn-sm" (click)="nextStep2()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
    
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 3
            </mat-panel-title>
            <mat-panel-description>
              Agregue los datos necesarios
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="form-group row">
            <p>Completa la siguiente información con los datos previamente estimados por análisis de laboratorio o a través de tablas de composición.</p>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Tamaño Porción</label>
            <div class="col-8">
      
              <input class="form-control"
                     type="text"
                     placeholder="Ingrese Tamaño Porción"
                     formControlName="tamanoPorcion" [class.is-invalid]="tamanoPorcioNoValida">
              <small *ngIf="tamanoPorcioNoValida" class="text-danger">
                      Ingrese el tamaño de la porción
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Cantidad de Porciones</label>
            <div class="col-8">
      
              <input class="form-control"
                     type="text"
                     placeholder="Ingrese Cantidad Porciones"
                     formControlName="cantidadPorciones"[class.is-invalid]="cantidadPorcionesNoValida">
                     <small *ngIf="cantidadPorcionesNoValida" class="text-danger">
                             Ingrese la cantidad de porciones
                     </small>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label" for="inputGroupSelect02">Conversión de Porciones (tazas, vasos, unidades,cds, etc)</label>
  
            <div class="col-8">
            <select class="form-control" formControlName="conversionPorciones" [class.is-invalid]="conversionPorcionesNoValida">
              <option value="tazas">Tazas</option>
              <option value="vasos">Vasos</option>
              <option value="unidades">Unidades</option>
              <option value="cds">cds</option>
            </select>
            <small *ngIf="conversionPorcionesNoValida" class="text-danger">
              Eliga una conversión válida
            </small>
            </div>
          </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">Calorias (kcal)</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Calorías"
                   formControlName="calorias" [class.is-invalid]="caloriasNoValida">
            <small *ngIf="caloriasNoValida" class="text-danger">
                    Ingrese cantidad calorías
            </small>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-2 col-form-label">Proteinas (g)</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Proteínas"
                   formControlName="proteinas" [class.is-invalid]="proteinasNoValida">
            <small *ngIf="proteinasNoValida" class="text-danger">
                    Ingrese cantidad proteinas
            </small>
          </div>
        </div>
    
      <div class="form-group row">
        <label class="col-2 col-form-label">Grasas totales (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Grasa Total"
                 formControlName="grasaTotal" [class.is-invalid]="grasaTotalNoValida">
          <small *ngIf="grasaTotalNoValida" class="text-danger">
                  Ingrese cantidad de grasa total
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Carbohidratos disponibles (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Carbohidratos disponibles"
                 formControlName="carboDisponibles" [class.is-invalid]="carboDisponiblesNoValida">
          <small *ngIf="carboDisponiblesNoValida" class="text-danger">
                  Ingrese cantidad de carbohidratos disponibles
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Azúcares totales (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Azúcares totales"
                 formControlName="azucaresTotales" [class.is-invalid]="azucaresTotalesNoValida">
          <small *ngIf="azucaresTotalesNoValida" class="text-danger">
                  Ingrese cantidad de azúcares totales
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Fibra dietaria total (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Fibra dietaria total (g)"
                 formControlName="fibraDietaTotal" [class.is-invalid]="fibraDietaTotalNoValida">
          <small *ngIf="fibraDietaTotalNoValida" class="text-danger">
                  Ingrese cantidad de fibra dietaria total
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Sodio (mg)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Sodio"
                 formControlName="sodio" [class.is-invalid]="sodioNoValida">
          <small *ngIf="sodioNoValida" class="text-danger">
                  Ingrese cantidad de sodio
          </small>
        </div>
      </div>
      <ng-container *ngIf="forma.value.tipoEtiqueta == 'largaVertical'">
      <div class="form-group row">
        <label class="col-2 col-form-label">Grasas saturadas (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Grasas saturadas"
                 formControlName="grasasSaturadas" [class.is-invalid]="grasasSaturadasNoValida">
          <small *ngIf="grasasSaturadasNoValida" class="text-danger">
                  Ingrese cantidad de grasas saturadas
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Grasas monoinsaturadas (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Grasas monoinsaturadas"
                 formControlName="grasasMonoInsaturadas" [class.is-invalid]="grasasMonoInsaturadasNoValida">
          <small *ngIf="grasasMonoInsaturadasNoValida" class="text-danger">
                  Ingrese cantidad de grasas monoinsaturadas
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Grasas trans (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Grasas trans"
                 formControlName="grasasTrans" [class.is-invalid]="grasasTransNoValida">
          <small *ngIf="grasasTransNoValida" class="text-danger">
                  Ingrese cantidad de grasas trans
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Grasas poliinsaturadas (g)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Grasas poliinsaturadas"
                 formControlName="grasasPoliInsaturadas" [class.is-invalid]="grasasPoliInsaturadasNoValida">
          <small *ngIf="grasasPoliInsaturadasNoValida" class="text-danger">
                  Ingrese cantidad de grasas poliinsaturadas
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Colesterol (mg)</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Colesterol"
                 formControlName="colesterol" [class.is-invalid]="colesterolNoValida">
          <small *ngIf="colesterolNoValida" class="text-danger">
                  Ingrese cantidad de colesterol
          </small>
        </div>
      </div>
      </ng-container>
      <mat-action-row>
        <button mat-button type="button" class="btn btn-outline-primary btn-sm" (click)="prevStep()">Anterior</button>
        <button mat-button type="button" class="btn btn-outline-primary btn-sm" (click)="nextStep3()">Siguiente</button>
      </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paso 4
          </mat-panel-title>
          <mat-panel-description>
            Los últimos datos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-group row">
          <label class="col-2 col-form-label" for="inputGroupSelect01">Contenido Neto del Producto</label>

          <div class="col-8">
          <select class="form-control" formControlName="contenidoNeto" [class.is-invalid]="contenidoNetoNoValida">
            <option value="gramo">Gramo (g)</option>
            <option value="kilogramo">Kilogramo (kg)</option>
            <option value="mililitro">Mililitro (ml)</option>
            <option value="litro">Litro (l)</option>
          </select>
          <small *ngIf="contenidoNetoNoValida" class="text-danger">
            Seleccione unidad del contenido neto
          </small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre o razón social de quien elabora, envasa o distribuye</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Nombre o razón social de quien elabora, envasa o distribuye"
                   formControlName="nombreRazonSocial" [class.is-invalid]="nombreRazonSocialNoValida">
            <small *ngIf="nombreRazonSocialNoValida" class="text-danger">
                    Ingrese razón social
            </small>                   
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Plazo de Duración</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Plazo de Duración"
                   formControlName="plazoDuracion" [class.is-invalid]="plazoDuracionNoValida">
            <small *ngIf="plazoDuracionNoValida" class="text-danger">
                    Ingrese plazo de duración
            </small>  
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-2 col-form-label">Importado o distribuido por</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Importado o distribuido por"
                   formControlName="importadoPor" [class.is-invalid]="importadoPorNoValida">
            <small *ngIf="importadoPorNoValida" class="text-danger">
                    Ingrese quien importa o distribuye
            </small>  
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Pais de origen</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Pais de origen"
                   formControlName="paisOrigen" [class.is-invalid]="paisOrigenNoValida">
            <small *ngIf="paisOrigenNoValida" class="text-danger">
                    Ingrese el pais de origen
            </small>  
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Modo de Uso o de Consumo</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Modo de Uso o de Consumo"
                   formControlName="modoUsoConsumo" [class.is-invalid]="modoUsoConsumoNoValida">
            <small *ngIf="modoUsoConsumoNoValida" class="text-danger">
                    Ingrese el modo de uso
            </small>  
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Condiciones de almacenamiento</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Condiciones de almacenamiento"
                   formControlName="condicionesAlmacenamiento" [class.is-invalid]="condicionesAlmacenamientoNoValida">
            <small *ngIf="condicionesAlmacenamientoNoValida" class="text-danger">
                    Ingrese las condiciones de almacenamiento
            </small> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Describa los ingredientes y aditivos en orden descendente, separados por comas</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Describa los ingredientes y aditivos en orden descendente"
                   formControlName="descripcionIngredientes" [class.is-invalid]="descripcionIngredientesNoValida">
            <small *ngIf="descripcionIngredientesNoValida" class="text-danger">
                    Ingrese los ingredientes en orden descendente
            </small> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Resolución sanitaria</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Resolución sanitaria"
                   formControlName="resolucionSanitaria" [class.is-invalid]="resolucionSanitariaNoValida">
            <small *ngIf="resolucionSanitariaNoValida" class="text-danger">
                    Ingrese la resolución sanitaria
            </small> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre del Producto</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Nombre del Producto"
                   formControlName="nombreProducto" [class.is-invalid]="nombreProductoNoValida">
            <small *ngIf="nombreProductoNoValida" class="text-danger">
                    Ingrese el nombre del producto
            </small> 
          </div>
        </div>
        <mat-action-row>
          <button mat-button class="btn btn-outline-primary btn-sm" type="button" color="warn" (click)="prevStep()">Anterior</button>
          &nbsp;
          <button mat-button class="btn btn-outline-primary btn-sm" type="button" color="primary" (click)="nextStep4()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Paso 5
          </mat-panel-title>
          <mat-panel-description>
            Veamos como queda
          </mat-panel-description>
        </mat-expansion-panel-header>
      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-primary btn-block">
            Generar Vista Previa
          </button>
        </div>
      </div>
      <mat-action-row>
        <button mat-button class="btn btn-outline-primary btn-sm" type="button" color="warn" (click)="prevStep()">Anterior</button>
      </mat-action-row>
    </mat-expansion-panel>
    </div>
    </form>
    <hr>
    
<hr>

<ng-container *ngIf="imgcreada === true;">
    <div class="row col-md-8">
        
        <div class="col-md-8">
            <h4>Etiqueta {{forma.value.tipoEtiqueta}} - {{forma.value.genEtiqueta}}</h4>

        </div>
        <div class="col-md-4">
            <button (click)="generatePDF()" class="btn btn-outline-primary btn-block">Generar Etiqueta PDF</button>

        </div>
    </div>
    <img src="{{imagenCreada}}" alt="veamos que aparece">
    
</ng-container>

<!-- Vertical Tradicional Corta-->
<ng-container *ngIf="forma.value.tipoEtiqueta == 'cortaVertical' && forma.value.genEtiqueta == 'tradicional'">
<app-vertical-corta [forma]="forma"></app-vertical-corta>
</ng-container>

<!-- Vertical Actualizada Corta-->
<ng-container *ngIf="forma.value.tipoEtiqueta == 'cortaVertical' && forma.value.genEtiqueta == 'actualizada'">
  <app-avertical-corta [forma]="forma"></app-avertical-corta>
  </ng-container>

<!-- Vertical Tradicional Larga-->
<ng-container *ngIf="forma.value.tipoEtiqueta == 'largaVertical' && forma.value.genEtiqueta == 'tradicional'">
    <app-vertical-larga [forma]="forma"></app-vertical-larga>
    </ng-container>

<!-- Vertical Actualizada Larga-->
<ng-container *ngIf="forma.value.tipoEtiqueta == 'largaVertical' && forma.value.genEtiqueta == 'actualizada'">
  <app-avertical-larga [forma]="forma"></app-avertical-larga>
  </ng-container>

</div>
  <hr>
  <pre>
    Estado del formulario: {{forma.valid}}
    <br>
    Status: {{forma.status}}
  </pre>
  <pre>
    {{forma.value | json}}
  </pre>
