
        .mi_textEtiqueta
        {
            font-size:      9px;
        };
        .mi_textDescripcion
        {
            font-size:      10px;
        };
        .mi_caja
                {
                  width: 250px;
                };
        
        .coll-12{
                    margin:0;
                    padding:0;
                    display:flex;
                    width: 230px;
                }
        .coll-14{
                    margin:0;
                    padding:0;
                    display:flex;
                    width: 210px;
                    font-size:      10px;
                }

        .coll-8{
                    margin:0;
                    padding:0;
                    display:flex;
                    width: 150px;
                }
        .coll-2{
                    margin:0;
                    padding:0;
                    display:flex;
                    width: 40px;
                }
        .ancho{
                width: 330;
                margin:0;
                padding:0;
                display:block;
        }
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
